
.login-card {
  width: 100%;
}

.card-body {
  width: 100%;
}

.form {
  width: 100%;
}

.forgotPasswordText{
  font-size: 1.3em;
  text-decoration: none;
  color: black; /* Default color */
  margin-bottom: 5px;
}

.forgotPasswordText:hover {
  color: red; /* Color on hover */
}

@media (max-width: 768px) {


  .login-btn-lg {
    font-size: 1.2em;
  }

  .link-primary {
    font-size: 1.1em;
  }
}

@media (max-width: 576px) {
  .custom-navbar {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .church-homepage {
    padding-top: 0.25rem;
  }

  .login-container {
    padding: 0.5rem;
  }

  .login-card {
    padding: 0.5rem;
  }

  .login-btn-lg {
    font-size: 1em;
  }

  .link-primary {
    font-size: 1em;
  }
}